/nbproject/private/
/build/
build.xml
metro-21221012345678-data.txt
metro-21221012345678-header.txt
nbproject/
test/mecard/MetroClient.class
*.z_
*.tar
*.jar
dist
TESTconfiguration/sip2cemu.pl
test/mecard/MetroClient.java
windows/*.exe
EPLconfiguration/
TODO
MeCard_0.1_STA.z_
data.txt
header.txt
testfile.bat
logs/
after_install.txt
windows/Output/
windows/bimport/
