/nbproject/private/
/build/
build.xml
metro-21221012345678-data.txt
metro-21221012345678-header.txt
nbproject/
test/mecard/MetroClient.class
*.z_
*.tar

TESTconfiguration/sip2cemu.pl
test/mecard/MetroClient.java
windows/*.exe
EPLconfiguration/
TODO
MeCard_0.1_STA.z_
data.txt
header.txt
testfile.bat
logs/
after_install.txt
windows/Output/
windows/bimport/
extlibs/

*.properties
dist/javadoc/*
dist/lib/junit-4.10.jar
*.zip

config_EPL.tgz
TESTconfiguration/*.sip
Andrew.note.md
lib/*
*.cache
papi.properties*
*.txt
PRLconfiguration/*
*.tgz
*.gz
*.xml
*.orig
sqljdbc_10.2/*
pswatcher
test/mecard/MetroClient.class_old
unix/loaduser_SG.sh
*.fail
*.lost
dist/MeCard.jar
# Not implemented in production but if 
# this is to be incorporated, remove these
# and add them to the project.
SSHClient.java
SSHClientTest.java
dist/lib/jsch-0.1.55.jar
.env
.vscode/
